body {
    height: 500vh;
    overflow-x: hidden;
    background-color: black;
    margin: 0;
    padding: 0;
}

#background-img {
    width: 100%;
    max-width: 1300px;
    display: block;
    margin: 0 auto;
}

.header-container {
    background-color: rgb(233, 231, 231);
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    padding: 0 20px;
    width: 95%;
    max-width: 1300px;
    margin: 20px auto 0 auto;
    flex-wrap: wrap;
    position: relative;
    top: -1300px;
    left: 3px;
    /* Consider removing or adjusting this later */
}

/* Logo styles */
.logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.logo-circle {
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-top: 8px;
    margin-left: -10px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.mobile-menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* Nav links styling */
.nav-links {
    display: flex;
    gap: 20px;
    position: relative;
    left: 20px;
    flex-wrap: wrap;
    z-index: 100;
    margin-top: 2px;
}

.nav-links a {
    color: rgb(80, 80, 80);
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 8px 12px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-links a:hover {
    background-color: black;
    color: white;
}

/* Main */

#Introduction {
    text-align: center;
    position: relative;
    top: -1250px;
    left: 290px;
    width: 800px;
}

.hand-emoji {
    position: relative;
    top: -20px;
    left: 20px;
}

#Introduction h1 {
    font-size: 3em;
    margin-bottom: 10px;
    color: #ffc107;
    margin-left: -50px;
    /* Yellow for the name */
}

#Introduction h1 span {
    color: #fff;
    /* White for "Hello! I'm" */
}

#Introduction p.profession {
    font-size: 1.4em;
    color: white;
    margin-bottom: 22px;
    margin-top: -20px;
}

#Introduction p.experience {
    font-size: 1.1em;
    color: #ccc;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}

.highlight {
    background-color: #333;
    color: rgb(255, 195, 28);
    padding: 5px 10px;
    border-radius: 20px;
    margin: 0 5px;
}

.hand-emoji {
    font-size: 2em;
    margin-right: 10px;
    vertical-align: middle;
}

#resume {
    padding: 10px;
    border-radius: 50px;
    background-color: transparent;
    color: #ffc107;
    margin-left: 280px;
    border: 1px solid #ffc107;
}

#hire-me {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #ffc107;
    color: black;
    margin-left: 400px;
    margin-top: -40px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.skills-container {
    position: relative;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    top: -1100px;
    left: 300px;
    z-index: 100;
}

.skill-badge {
    position: absolute;
    background-color: white;
    border-radius: 40px;
    padding: 6px 18px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 10px;
    transition: transform 0.3s ease;
}

.skill-badge:hover {
    transform: translateY(-5px);
}

.skill-badge img {
    width: 30px;
    height: 30px;
}

.skill-badge span {
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

/* Position each badge individually */
.skill-node-express {
    top: 50px;
    left: -350px;
}

.skill-reactjs {
    top: 150px;
    left: -420px;
}

.skill-tailwind {
    top: 250px;
    right: 1020px;
    width: 130px;
}

.skill-js {
    top: 160px;
    right: 100px;
}

.skill-mongodb {
    top: 260px;
    left: 490px;
}

.skill-figma {
    top: 60px;
    right: 180px;
}


#circle {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-color: #ffc107;
    position: relative;
    top: -1510px;
    left: 450px;
}

#circle img {
    position: relative;
    top: -170px;
    left: 0;
}

#About {
    background-color: rgb(0, 0, 0);
    height: 700px;
    width: 1352px;
    box-shadow: 0px -20px 25px rgb(235, 255, 54);
    position: relative;
    top: -1700px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    font-family: sans-serif;
    color: #FFFFFF;
}

#About h2 {
    color: #FFD700;
    font-size: 52px;
    margin-bottom: 10px;
    margin-left: 530px;
    text-shadow:
        -1px -1px 0 #ffffff,
        3px -1px 0 #ffffff,
        -1px -1px 0 #e2dcdc,
        -1px -1px 0 #c9c9c9;
}

/* Style for the container of the profile picture and "I Love" section */
.profile-love-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Style for the circular profile picture container */
.profile-picture-container {
    border-radius: 50%;
    overflow: hidden;
    width: 70px;
    height: 70px;
}

/* Style for the profile picture image */
.profile-picture-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Style for the "I Love" text */
.i-love-text {
    color: #FFD700;
    font-weight: bold;
    font-size: 1.4em;
    margin: 0;
}

/* Style for the container of the interest tags */
.interests-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 350px;
}

/* Style for each individual interest tag */
.interest-tag {
    background-color: #ffffff;
    padding: 5px 13px;
    border-radius: 20px;
    color: black;
    font-weight: 600;
    margin-top: 10px;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Style for the icons within the interest tags */
.interest-tag img {
    width: 30px;
    height: 26px;
}

/* Style for the container of the experience and project stats */
.stats-container {
    display: flex;
    gap: 30px;
    height: 150px;
    margin-top: -180px;
    margin-left: 800px;
}

/* Style for each individual stat box */
.stat-box {
    background-color: #2C2C2C;
    border-radius: 40px;
    padding: 30px;
    box-shadow: 5px 8px 20px white;
    text-align: center;
    width: 150px;
}

/* Style for the numbers in the stat boxes */
.stat-number {
    color: #FFD700;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Style for the labels in the stat boxes */
.stat-label {
    font-size: 0.9em;
    margin: 0;
}

#description {
    background-color: #1E1E1E;
    /* Dark background */
    border-radius: 10px;
    padding: 30px;
    margin-left: 0;
    width: 1250px;
    font-family: sans-serif;
    color: #FFFFFF;
    margin-top: 35px;
    /* Adjust as needed for spacing */
}

#description p {
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
    font-size: 1.1em;
    /* Adjust font size as needed */
}

#About button {
    background: rgb(29, 29, 29);
    color: #000;
    border: none;
    color: rgb(255, 217, 50);
    border: 1px solid rgb(255, 217, 50);
    border-radius: 25px;
    padding: 10px 25px;
    cursor: pointer;
    margin-left: 620px;
    margin-top: -3px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    transition: background 0.3s ease;
}

#description button:hover {
    background: linear-gradient(90deg, #B8860B 0%, #FFD700 100%);
    /* Reverse gradient on hover */
}

#description button img {
    width: 20px;
    /* Adjust icon size as needed */
    height: 20px;
}

.education-container {
    width: 100%;
    background-color: #000000;
    margin-top: -1680px;
    min-height: 75vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.education-title {
    font-size: 52px;
    font-weight: bold;
    color: #f59e0b;
    text-align: center;
    position: relative;
    top: 40px;
    text-shadow:
        -1px -1px 0 #ffffff,
        3px -1px 0 #ffffff,
        -1px -1px 0 #e2dcdc,
        -1px -1px 0 #c9c9c9;
}

.education-cards {
    display: flex;
    flex-direction: row;
    /* Changed to column initially for mobile */
    gap: 1.7rem;
    height: 300px;
    margin: 80px 60px;
    width: 100%;
    /* Ensure cards take up full width of container */
}

.education-card {
    border-radius: 1.65rem;
    background: linear-gradient(to bottom, #e0e1e4, #2c4669);
    /* Gradient background */
    box-shadow: 0 4px 8px rgba(239, 255, 90, 0.5);
    padding: 1.5rem;
    width: 550px;
    transition: transform 0.3s ease;
}

.education-card:hover {
    transform: scale(1.03);
}

.date-badge {
    background-color: #000000;
    color: #ffae00;
    border-radius: 3rem;
    font-size: 19px;
    font-weight: 600;
    width: 100px;
    margin: -43px 10px;
    padding: 9px;
    padding-left: 60px;
}

.education-card img {
    position: relative;
    top: -2px;
    left: 30px;
}

.degree-level {
    color: #d1d5db;
    font-weight: 500;
    margin-left: 380px;
    position: relative;
    top: 9px;
    color: #000;
    background-color: white;
    border-radius: 50px;
    padding: 8px 15px;
}

.degree-level img {
    position: relative;
    left: -1px;
    top: 5px;
}

.degree-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #000000;
    background-color: white;
    padding: 5px 5px;
    margin-top: 40px;
    height: 25px;
    border-radius: 30px;
    width: 230px;
    margin-left: 10px;
    margin-bottom: 0.5rem;
}

#degree-title {
    width: 175px;
}

.degree-type {
    background-color: #374151;
    color: #ffffff;
    padding: 5px 10px;
    height: 25px;
    border-radius: 0.375rem;
    margin-left: 260px;
    position: relative;
    top: -36px;
    font-size: 1.25rem;
}

#degree-type {
    margin-left: 205px;
}

.education-card p {
    color: rgb(221, 221, 221);
    position: relative;
    font-size: 0.975rem;
    top: -20px;
    left: 10px;
}

.university-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: white;
    margin-top: 0.5rem;
}

#university-info {
    margin-left: -18px;
}

.university-logo {
    width: 2rem;
    height: 2rem;
    border-radius: 9999px;
    margin-top: -42px;
    margin-left: -30px;
}

.university-name {
    color: #d1d5db;
    font-size: 0.975rem;
    margin-left: 20px;
}

#university-name {
    margin-left: -1px;
}

.location {
    color: #9ca3af;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

.location img {
    position: relative;
    left: -10px;
    top: 8px;

}

/* Experience Section */

.experience-container {
    background-color: #000000;
    /* Dark background */
    padding: 80px 0;
    /* Vertical padding */
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    /* Center content horizontally */
}

.experience-header {
    font-size: 48px;
    /* Large header */
    font-weight: 700;
    /* Bold font */
    color: #f59e0b;

    /* Very light gray text */
    margin-top: -10px;
    margin-bottom: 50px;
    /* Space below the header */
    text-align: center;
    /* Center the header */
    font-family: 'Inter', sans-serif;
    text-shadow:
        -1px -1px 0 #ffffff,
        3px -1px 0 #ffffff,
        -1px -1px 0 #e2dcdc,
        -1px -1px 0 #c9c9c9;
}

/* Card 1 */
.experience-card1 {
    background-color: whitesmoke;
    /* Darker card background */
    border-radius: 16px;
    /* Rounded corners */
    padding: 40px;
    /* Padding inside the card */
    width: 80%;
    /* Card width */
    max-width: 800px;
    /* Maximum card width */
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.3);
    /* Shadow for depth */
    display: flex;
    /* Use flexbox for layout inside the card */
    flex-direction: column;
    /* Stack items vertically by default */
    align-items: flex-start;
    /* Align items to the start (top in column direction) */
    margin-bottom: 20px;
    /* Space below the card */
    font-family: 'Inter', sans-serif;
}

.company-info1 {
    display: flex;
    /* Use flexbox for company info and date */

    align-items: center;
    /* Vertically align items */
    margin-bottom: 25px;
    /* Space below company info */
    width: 100%;
    /* Ensure full width for proper spacing */
}

#company-logo1 {
    width: 50px;
    height: 49px;
    margin-left: -20px;
    z-index: 1;
    border-radius: 50px;
    background-color: #fff;
}

.company-name-location1 {
    display: flex;
    background-color: #000000;
    color: #000;
    border-radius: 60px;
    padding-top: 5px;
    padding-left: 50px;
    padding-bottom: 5px;
    padding-right: 12px;
    flex-direction: column;
    margin-right: auto;
    margin-left: -43px;

    /* Push date to the right */
}

.company-name1 {
    font-size: 18px;
    /* Company name size */
    font-weight: 600;
    /* Medium font weight */
    color: #ffe346;
    /* Light text color */
}

.company-location1 {
    font-size: 16px;
    /* Location size */
    color: #ffffff;
    ;
    /* Grayish text color */
}

.date-range1 {
    font-size: 14px;
    /* Date range size */
    color: #000000;
    font-weight: bold;
    /* Lighter gray text */
    background-color: #9088ff;
    /* Darker background for date */
    padding: 8px 12px;
    /* Padding for the date */
    border-radius: 20px;
    /* Rounded corners for date */
    white-space: nowrap;
    /* Prevent date from wrapping */
}

.job-title1 {
    font-size: 24px;
    /* Job title size */
    font-weight: 600;
    /* Medium font weight */
    color: #000;
    ;
    /* White text color */
    margin-bottom: 20px;
    /* Space below job title */
}

.job-description1 {
    font-size: 16px;
    /* Job description size */
    color: #cbd5e0;
    /* Grayish text */
    line-height: 1.7;
    /* Increased line height for readability */
    margin-bottom: 15px;
}

.job-description-points1 {
    margin-left: 20px;
    /* Indentation for the list */
    list-style-position: inside;
    padding-left: 0;
}

.job-description-points1 li::before {
    content: '▶';
    /* Bullet symbol */
    color: #6ee7b7;
    /* Teal color */
    margin-right: 10px;
    /* Space before the bullet */
}

.job-description-points1 li {
    margin-bottom: 15px;
    list-style: none;
    width: 950px;
}

/* Card 2 */
.experience-card2 {
    background-color: whitesmoke;
    /* Darker card background */
    border-radius: 16px;
    /* Rounded corners */
    padding: 40px;
    /* Padding inside the card */
    width: 80%;
    /* Card width */
    max-width: 800px;
    /* Maximum card width */
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.3);
    /* Shadow for depth */
    display: flex;
    /* Use flexbox for layout inside the card */
    flex-direction: column;
    /* Stack items vertically by default */
    align-items: flex-start;
    /* Align items to the start (top in column direction) */
    margin-bottom: 20px;
    /* Space below the card */
    font-family: 'Inter', sans-serif;
}

.company-info2 {
    display: flex;
    /* Use flexbox for company info and date */

    align-items: center;
    /* Vertically align items */
    margin-bottom: 25px;
    /* Space below company info */
    width: 100%;
    /* Ensure full width for proper spacing */
}

#company-logo2 {
    width: 50px;
    height: 49px;
    margin-left: -20px;
    z-index: 1;
    border-radius: 50px;
    background-color: #fff;
}

.company-name-location2 {
    display: flex;
    background-color: #000000;
    color: #000;
    border-radius: 60px;
    padding-top: 5px;
    padding-left: 50px;
    padding-bottom: 5px;
    padding-right: 12px;
    flex-direction: column;
    margin-right: auto;
    margin-left: -43px;

    /* Push date to the right */
}

.company-name2 {
    font-size: 18px;
    /* Company name size */
    font-weight: 600;
    /* Medium font weight */
    color: #ffe346;
    /* Light text color */
}

.company-location2 {
    font-size: 16px;
    /* Location size */
    color: #ffffff;
    ;
    /* Grayish text color */
}

.date-range2 {
    font-size: 14px;
    /* Date range size */
    color: #000000;
    font-weight: bold;
    /* Lighter gray text */
    background-color: #9088ff;
    /* Darker background for date */
    padding: 8px 12px;
    /* Padding for the date */
    border-radius: 20px;
    /* Rounded corners for date */
    white-space: nowrap;
    /* Prevent date from wrapping */
}

.job-title2 {
    font-size: 24px;
    /* Job title size */
    font-weight: 600;
    /* Medium font weight */
    color: #000;
    ;
    /* White text color */
    margin-bottom: 20px;
    /* Space below job title */
}

.job-description2 {
    font-size: 16px;
    /* Job description size */
    color: #cbd5e0;
    /* Grayish text */
    line-height: 1.7;
    /* Increased line height for readability */
    margin-bottom: 15px;
}

.job-description-points2 {
    margin-left: 20px;
    /* Indentation for the list */
    list-style-position: inside;
    padding-left: 0;
}

.job-description-points2 li::before {
    content: '▶';
    /* Bullet symbol */
    color: #6ee7b7;
    /* Teal color */
    margin-right: 10px;
    /* Space before the bullet */
}

.job-description-points2 li {
    margin-bottom: 15px;
    list-style: none;
    width: 800px;
    line-height: 20px;
}

/* Card 3 */

.experience-card3 {
    background-color: whitesmoke;
    /* Darker card background */
    border-radius: 16px;
    /* Rounded corners */
    padding: 40px;
    /* Padding inside the card */
    width: 80%;
    /* Card width */
    max-width: 800px;
    /* Maximum card width */
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.3);
    /* Shadow for depth */
    display: flex;
    /* Use flexbox for layout inside the card */
    flex-direction: column;
    /* Stack items vertically by default */
    align-items: flex-start;
    /* Align items to the start (top in column direction) */
    margin-bottom: 20px;
    /* Space below the card */
    font-family: 'Inter', sans-serif;
}

.company-info3 {
    display: flex;
    /* Use flexbox for company info and date */

    align-items: center;
    /* Vertically align items */
    margin-bottom: 25px;
    /* Space below company info */
    width: 100%;
    /* Ensure full width for proper spacing */
}

#company-logo3 {
    width: 50px;
    height: 49px;
    margin-left: -20px;
    z-index: 1;
    border-radius: 50px;
    background-color: #000000;
}

.company-name-location3 {
    display: flex;
    background-color: #000000;
    color: #000;
    border-radius: 60px;
    padding-top: 5px;
    padding-left: 50px;
    padding-bottom: 5px;
    padding-right: 12px;
    flex-direction: column;
    margin-right: auto;
    margin-left: -43px;

    /* Push date to the right */
}

.company-name3 {
    font-size: 18px;
    /* Company name size */
    font-weight: 600;
    /* Medium font weight */
    color: #ffe346;
    /* Light text color */
}

.company-location3 {
    font-size: 16px;
    /* Location size */
    color: #ffffff;
    ;
    /* Grayish text color */
}

.date-range3 {
    font-size: 14px;
    /* Date range size */
    color: #000000;
    font-weight: bold;
    /* Lighter gray text */
    background-color: #9088ff;
    /* Darker background for date */
    padding: 8px 12px;
    /* Padding for the date */
    border-radius: 20px;
    /* Rounded corners for date */
    white-space: nowrap;
    /* Prevent date from wrapping */
}

.job-title3 {
    font-size: 24px;
    /* Job title size */
    font-weight: 600;
    /* Medium font weight */
    color: #000;
    ;
    /* White text color */
    margin-bottom: 20px;
    /* Space below job title */
}

.job-description3 {
    font-size: 16px;
    /* Job description size */
    color: #cbd5e0;
    /* Grayish text */
    line-height: 1.7;
    /* Increased line height for readability */
    margin-bottom: 15px;
}

.job-description-points3 {
    margin-left: 20px;
    /* Indentation for the list */
    list-style-position: inside;
    padding-left: 0;
}

.job-description-points3 li::before {
    content: '▶';
    /* Bullet symbol */
    color: #6ee7b7;
    /* Teal color */
    margin-right: 10px;
    /* Space before the bullet */
}

.job-description-points3 li {
    margin-bottom: 15px;
    list-style: none;
    width: 950px;
}

/* Certificate Section */


.certificates-section {
    padding: 40px 20px;
    text-align: center;
    margin-top: -100px;
}


.section-title {
    font-size: 52px;
    font-weight: bold;
    color: #f9b300;
    margin-bottom: 30px;
    text-shadow:
        -1px -1px 0 #ffffff,
        3px -1px 0 #ffffff,
        -1px -1px 0 #e2dcdc,
        -1px -1px 0 #c9c9c9;
}

.certificate-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.certificate-card {
    background-color: #dfdfdfc2;
    color: #000;
    border-radius: 16px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.certificate-card a {
    text-decoration: none;
    list-style: none;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.platform {
    background-color: #000;
    color: #f9b300;
    padding: 6px 15px;
    font-size: 15px;
    text-align: right;
    width: 150px;
    margin-left: -130px;
    border-radius: 25px;
    font-weight: bold;
}

.platform-logo {
    height: 50px;
    width: 40px;
    z-index: 1;
    border-radius: 25px;
    margin-left: -5px;
}

.custom-platform-simplilearn {
    width: 100px;
    margin-left: -150px;
}

.custom-platform-alison {
    width: 70px;
    margin-left: -200px;
}


.certificate-title {
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    margin: 10px 0 20px;
}

.view-btn {
    background-color: #eee;
    border: none;
    width: 90px;
    margin-left: 5px;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
}

.view-btn:hover {
    background-color: #ccc;
}

/* Skills Section */

.skills-section {
    background-color: #000000;
    color: white;
    padding: 40px 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.skills-heading {
    font-size: 52px;
    font-weight: bold;
    color: #f9b300;
    margin-bottom: 30px;
    text-shadow:
        -1px -1px 0 #ffffff,
        3px -1px 0 #ffffff,
        -1px -1px 0 #e2dcdc,
        -1px -1px 0 #c9c9c9;
}

.subsection {
    margin-bottom: 40px;
}

.subsection h3 {
    font-size: 24px;
    color: #facc15;
    margin-bottom: 20px;
}

.tools {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.tool {
    background-color: #c0c0c0;
    border: 1px solid #444;
    padding: 10px 20px;
    border-radius: 25px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.05);
    transition: transform 0.2s ease;
    display: flex;
    align-items: center;
    gap: 10px;
}

.tool img {
    width: 24px;
    height: 24px;
}

.tool:hover {
    transform: scale(1.05);
    background-color: #868686;
    cursor: pointer;
}

/* Development and Productivity Container */

.dev-prod-container {
    background-color: #000000;
    color: #fff;
    text-align: center;
    margin-top: -60px;
    padding: 3rem 1rem;
    font-family: 'Segoe UI', sans-serif;
}

.dev-prod-container h2 {
    color: #facc15;
    font-size: 52px;
    font-weight: bold;
    text-shadow:
        -1px -1px 0 #ffffff,
        3px -1px 0 #ffffff,
        -1px -1px 0 #e2dcdc,
        -1px -1px 0 #c9c9c9;
    margin-bottom: 2rem;
    line-height: 1.3;
}

.dev-prod-container h2 span {
    color: #facc15;
    display: block;
    margin-top: 0.5rem;
}

.tools {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
}

.tool {
    background-color: #fff;
    color: #000;
    border-radius: 999px;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.tool img {
    width: 24px;
    height: 24px;
}

.tool img:hover {
    background-color: #868686;
}

.resume-btn {
    background-color: #facc15;
    color: #000;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 999px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    transition: background 0.3s ease;
}

.resume-btn:hover {
    background-color: #eab308;
}

/* Projects Container */

.section-title {
    text-align: center;
    text-shadow:
        -1px -1px 0 #ffffff,
        3px -1px 0 #ffffff,
        -1px -1px 0 #e2dcdc,
        -1px -1px 0 #c9c9c9;
    font-size: 52px;
    color: #ffb700;
    margin-bottom: 40px;
}

.section-title span {
    font-size: 52px;
    text-shadow:
        -1px -1px 0 #ffffff,
        3px -1px 0 #ffffff,
        -1px -1px 0 #e2dcdc,
        -1px -1px 0 #c9c9c9;
    color: #ffb700;
}

.projects-container {
    max-width: 1000px;
    margin: 0 auto;
    justify-items: center;
}

.project-card {
    display: flex;
    background-color: #0a1e49;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
}

.project-image img {
    width: 320px;
    border-radius: 10px;
    display: flex;
    padding: 5px;
    flex-direction: column;

}

.project-info {
    flex: 1;
}

.project-title {
    font-size: 1.8em;
    color: white;
    margin: 0;
}

.project-title span {
    color: #b3e0ff;
}

.worked-on,
.tech-used {
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ccc;
}

.tags,
.tech-stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 15px;

}

.tag,
.tech {
    background-color: #e0e0e0;
    padding: 3px 10px;
    border-radius: 25px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: transform 0.2s ease;
    display: flex;
    align-items: center;
    gap: 10px;
}

.tech img {
    width: 24px;
    height: 24px;
}

.visit-btn {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    background-color: #162e71;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid #506ee7;
    font-weight: bold;
    transition: background 0.3s;
}

.visit-btn:hover {
    background-color: #243f99;
}

.visit-btn .icon {
    margin-right: 8px;
}

#github-btn {
    background-color: #facc15;
    color: #000;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 999px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 50px;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    transition: background 0.3s ease;
}

#github-btn:hover {
    background-color: #eab308;
}

#github-btn img {
    height: 24px;
    width: 24px;
}

#card2 {
    background-color: #057c8b;
}

/* Connect Container */

.connect-container {
    text-align: center;
    padding: 40px 20px;
    background-color: #000000;
}

.connect-container>img {
    margin-top: 20px;
    height: 230px;
    width: 300px;
}

.connect-title {
    text-shadow:
        -1px -1px 0 #ffffff,
        3px -1px 0 #ffffff,
        -1px -1px 0 #e2dcdc,
        -1px -1px 0 #c9c9c9;
    font-size: 52px;
    color: #ffb700;
    margin-bottom: 30px;
}

.social-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.social-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 18px;
    background-color: white;
    border-radius: 25px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    transition: transform 0.2s;
}

.social-btn img {
    width: 20px;
    height: 20px;
}

/* Custom colors */
.linkedin {
    color: #0077b5;
}

.instagram {
    color: #e1306c;
}

.facebook {
    color: #1877f2;
}

.telegram {
    color: #0088cc;
}

.twitter {
    color: #000;
}

.skype {
    color: #00aff0;
}

.email {
    background-color: #fff;
    color: #c71610;
    border: 2px solid #c71610;
    font-weight: bold;
}

.social-btn:hover {
    transform: scale(1.05);
}

/* Contact Section */
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
}

.contact img {
    z-index: 10;
    margin-top: 350px;
    height: 300px;
    width: 200px;
    margin-left: -200px;
}

.contact-container {
    background: #fff;
    border-radius: 20px;
    padding: 40px;
    width: 100%;
    margin-left: 50px;
    top: -20px;
    max-width: 800px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    position: relative;
}

.contact-container h2 {
    text-align: center;
    font-size: 40px;
    text-shadow:
        -1px -1px 0 #080808,
        3px -1px 0 #9b9b9b,
        -1px -1px 0 #d4d4d4,
        -1px -1px 0 #a7a7a7;
    font-weight: 700;
    margin-bottom: 30px;
    color: #000;
    position: relative;
    z-index: 1;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-row {
    display: flex;
    gap: 20px;
}

.form-row.full {
    flex-direction: column;
}

input,
textarea {
    flex: 1;
    padding: 15px 20px;
    border-radius: 30px;
    border: none;
    background-color: #f1f1f1;
    font-size: 1rem;
    outline: none;
}

textarea {
    min-height: 120px;
    resize: none;
    border-radius: 20px;
}

button {
    align-self: flex-start;
    padding: 12px 24px;
    background-color: #f9b500;
    border: none;
    border-radius: 25px;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e0a400;
}

.arrow {
    font-size: 1.2rem;
}